@import 'variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	display: flex;
	height: 100%;
}

#app {
	flex-grow: 1;
	min-height: 100%;

}
.app-container {
	background-color: $background-color;
}

.navbar {
	background-color: $primary-color;
}

.button-primary a {
	text-decoration: none;
	color: inherit;
}

.login-image {
	border-radius: 50%;
}

.input-field {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button.btn-primary.btn-primary-custom {
	padding: 10px;
	background-color: $primary-color;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }

.login-button:hover {
	background-color: $secondary-color;
}  