@import 'variables.scss';

html, body, .app-container {
	background-color: $background-color;
}

.navbar {
	background-color: $primary-color;
}

.navbar a:hover:not(:first-child) {
    background-color: #F59E0B;
}

.button-primary a {
	text-decoration: none;
	color: inherit;
}

.login-image {
	width: 50%;
	height: auto;
	border-radius: 50%;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 250px;
}

.input-field {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.login-button {
	padding: 10px;
	background-color: $primary-color;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.login-button:hover {
	background-color: $secondary-color;
}  

.login-header-container {
	font-size: 1rem;
}