@import "tailwindcss";

.navbar {
	background-color: #2D6A4F;
}

.button-primary a {
	text-decoration: none;
	color: inherit;
}


/*
$primary-color: #2D6A4F;
$secondary-color: #F59E0B;
$background-color: #FAF3E0;
$dark-mode-background-color: #1a1a1a;
*/