/* You can add global styles to this file, and also import other style files */
/*
$primary-color: #2D6A4F;
$secondary-color: #F59E0B;
$background-color: #FAF3E0;
$dark-mode-background-color: #1a1a1a;
*/
